<div class="container">
  <div class="row">
    <% @supermarkets.each do |supermarket| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-4">
          <div class="card-body">
            <h5 class="card-title"><%= supermarket.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= supermarket.address %></h6>
            <p class="text-<%= supermarket.open ? 'success' : 'danger' %>"><strong><%= supermarket.open ? "Open" : "Closed" %></strong></p>

            <% if supermarket.reviews.empty? %>
              <p>There are no reviews yet here.</p>
            <% else %>
              <h6>Reviews:</h6>
              <ul class="list-group">
                <% supermarket.reviews.each do |review| %>
                  <li class="list-group-item"><%= review.content %></li>
                <% end %>
              </ul>
            <% end %>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add a new review</button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <%= simple_form_for([supermarket, @review]) do |f| %>
                    <%= f.input :content %>
                    <%= f.input :rating %>
                    <%= f.submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


