<div class="container">
  <div class="row">
    <% @supermarkets.each do |supermarket| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-4">
          <div class="card-body">
            <h5 class="card-title"><%= supermarket.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= supermarket.address %></h6>
            <p class="text-<%= supermarket.open ? 'success' : 'danger' %>"><strong><%= supermarket.open ? "Open" : "Closed" %></strong></p>
            <br>
            <%= link_to "See supermarket", supermarket_path(supermarket), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
